.containerformation {
	background-color: black;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

h1 {
font-size : 40px ;
color : white ;
text-align : center ;
}


span {
	list-style-type: none;
	color: white;
	margin-left: 2em ;
}

.engrenage {
	max-width : 10%
}

.forma {
	font-family : helvetica ;
	margin-left: 2em ;
	padding : none ;
	font-size : 30px ;
	text-align : left ;
	padding-top : 5em
}


.monStyle{
	color : white ;
	padding : 4em ;
	margin-top : 4em ;
	column-gap : 25px ; 
	height: 300px;
    width: 300px;
	text-align : center justify ;
	font-family : helvetica ;
	margin-right: 37px;
}

