@font-face		{font-family : gros titre ; src: url("font/mosk900.ttf") ; }
@font-face		{font-family : gros titre ; src: url("font/mosk900.ttf") ; }
@font-face		{font-family : gros titre ; src: url("font/mosk900.ttf") ; }
		

.nav-link:hover  { color : yellow ; }
.nav-link		 {color : white ;  }
header			{    position: absolute;
					width: 100%;
					z-index: 100;
					background-color: rgba(180, 187, 193, 0.38)!important;
					
				}

				
.accroche		{display : block ;
				text-align : center ;
				}

.titre			{display : block ; color: white ; font-family : gros titre ; position : fixed; }
#map			{width : 100% ; height : auto ; }
.bandeaujaune	{display : block; 
				background-color : rgb(242,213,0) ; 
				text-align : center ; 
				vertical-align : center ; 
				width : 100% ;
				height : 3em ; 
				font-size : 2em ;
				font-family : gros titre ;
				color : white ;
				padding-top : 0.8em ;
				
				}
				
form		{display : block ;
			margin-left : -20em ; 
			margin-right : 25em ;
			margin-top : 3em ;
			}