/**************************************************/
/*********************** DEBUT font *********************/ 
@font-face {
    font-family: mosk600;
    src: url("font/mosk600.ttf");
}
@font-face {
	font-family: mosk700;
	src: url("font/mosk700.ttf");
}
@font-face {
    font-family: mosk800;
    src: url("font/mosk800.ttf");
}
@font-face {
    font-family: mosk900;
    src: url("font/mosk900.ttf");
}
@font-face {
    font-family: gros titre;
    src: url("font/mosk900.ttf");
}
/*********************** FIN font ***********************/ 
/********************************************************/










/********************************************************/
/*********************** DEBUT menu *********************/ 
.nav-link:hover {
    color: yellow;
}
.nav-link {
    color: white;
    background-attachment: fixed !important;
}
header {
	width : 100% ; 
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7)!important;
	position : fixed ;  
	background-color: #FFFFFF;
}
header .navbar-nav a.nav-link {
	color: white;
}
header .navbar-nav a.nav-link:hover {
	color: yellow;
}
header .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
@media screen and (max-width:900px) {
	.col-3{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.plus{
		margin-left: 279px;
		margin-top: -233px;
	}
	.plus:hover {
		margin-left: 279px;
		margin-top: -233px;
	}
	header {
		position: fixed;
		background-color: #FFFFFF;
	}
	header .navbar-nav a.nav-link {
		color: white;
	}
	header .navbar-nav a.nav-link:hover {
		color: yellow;
	}
	header .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}
/*********************** FIN menu ****************************/
/************************************************************/ 










/**************************************************/
/*********************** DEBUT video *********************/ 
.accroche {
    width: 100%;
    padding-top: 350px;
    display: block;
    text-align: center;
}
.titre {
    display: block;
    color: white;
    font-family: gros titre;
    position: fixed;
}
.bandeau-noir {
    background-color: black;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0;
}
/************************FIN video *******************/
/************************************************/ 










/*****************************************************/
/*************** DEBUT pourquoi 3DEV *****************/ 
.center-vertical {
    display: flex;
    align-items: center;
}
.T1 {
    color: #f2d500;
    font-family: mosk900
}
.T2 {
    color: black;
    font-family: mosk900
}
.T3 {
    color: black;
    font-family: mosk900
}
.pourquoi_3dev {
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    font-family: helvetica;
    font-size: 1.7em;
    text-align: justify;
}
/*************** FIN pourquoi 3DEV *****************/ 
/***********************************************/










/*******************************************************/
/*************** DEBUT bandeau jaune *******************/ 
.bandeau {
    text-align: center;
    line-height: 1.2;
}
.bandeaunumber {
    color: white;
    font-family: mosk600;
    text-align: center;
    font-size: 10em;
    padding: none;
    margin: none;
}
.bandeaunumber1 {
    color: black;
    font-family: helvetica;
    margin: none;
    padding: none;
    font-size: 25px;
    padding-bottom: 2em;
    text-align: center;
}
/***************** FIN bandeau jaune ********************/
/*******************************************************/











/***************************************************/
/*************** DEBUT intro formation *******************/
.greybg {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding-top: 1em;
    margin-left: 10%;
}
.formation {
    margin: 3em
}
.flying_video_popup {
    padding-top: 256px;
}
.plus a {
    text-decoration: none;
    color: black;
}
.plus a:hover {
    text-decoration: none;
}
.plus {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    width: 4em;
    height: 4em;
    background-color: #f2d500;
    margin-left: -50px;
    margin-top: -27px;
}
.plus:hover {
    display: block;
    color: #f2d500;
    text-align: center;
    padding: 1em;
    width: 4em;
    height: 4em;
    background-color: white;
    margin-left: -50px;
    margin-top: -27px;
}
/***************** FIN intro formation *******************/
/*********************************************************/










/*********************************************************/
/******************** DEBUT Slide ***********************/
@media screen and (max-width:2000px) {
	.kelly {
		padding: 4em;
		margin: 20em;
		margin-top: 3em;
		margin-left: -7em;
		text-align: justify;
	}
}
.popo {
	margin: 7em;
    margin-top: -15.5px;
    padding: 2em 0 3em 2em;   
}
@media screen and (max-width:1024px) {
	.kelly {
		padding: 4em;
		margin: 9em;
		margin-top: -1em;
		margin-left: -12em;
		text-align: justify;
		margin-right: 4em;
	}
	.popo {
		margin: 9em;
		margin-top: 20.5px;
		margin-left: 3em;   
	}
}
@media screen and (max-width:200px) {
	.kelly {
		padding: 4em;
		margin: 11em;
		margin-top: -2em;
		margin-left: -9em;
		text-align: justify;
		margin-right: 2em;
	}
	.popo {
		margin: 9em;
		margin-top: 20.5px;
		margin-left: 3em;   
	}
}
/*********************************************************/
/******************** FIN Slide *************************/










/************************** DEBUT PROJET*******************/
/*********************************************************/
.projet {
    margin-top: 2em;
    text-align: center;
    color: black;
    font-size: 4em;
    font-family: mosk900;
}
/*********************************************************/
/*****************FIN PROJET ****************************/











/*********************************************************/
/******************** DEBUT Abonne-toi *******************/
#spaceabo {
    margin-bottom: 8em;
    height: 3em;
}
#spaceab {
    display: inline-block;
    margin-bottom: 2rem;
}
label h1 {
    font-family: mosk600;
    color: #f2d500
}
h1 {
    font-size: 40px;
    text-align: center;
}
.btnhome {
         margin-top: 99.5px;
         margin-top: 102.5px;
}
.homebtn {
        padding: 0.8rem .75rem;
}
/******************* FIN Abonne-toi **********************/
/*********************************************************/










/*********************************************************/
/******************** DEBUT footer ***********************/
footer {
    background-color: black;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
footer h3 {
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
footer ul {
    font-size: 17px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: white;
}
footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
footer a {
    color: white
}
.lyon {
    font-size: 30px
}
.onlylyon {
    max-width: 70%;
    height: auto;
    padding: 0;
    margin-bottom: 4em;
    margin-top: -10px
}
.fb {
    max-width: 6%;
    height: auto;
    padding: 0;
    margin-top: 30px;
    margin-left: 40px
}
.tw {
    max-width: 13%;
    height: auto;
    padding: 0;
    margin-top: 35px;
    margin-left: 30px
}
.ig {
    max-width: 13%;
    height: auto;
    padding: 0;
    margin-top: 29px;
    margin-left: 30px
}
.g {
    max-width: 18%;
    height: auto;
    padding: 0;
    margin-top: 32px;
    margin-left: 30px
}
#lien:hover {
    color: #f2d500;
    text-decoration: none;
}
/******************** FIN footer *************************/
/*********************************************************/










/***********************************************************************/
/************** DEBUT page formation: Photo avec texte *****************/
.myBackgroundImage {
    background-image: url("image/formation.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 40em;
}
.na {
    display: block;
    color: white;
    font-family: gros titre;
    text-align: center;
}
.bandeauyellow {
	
	display: block ;
	height : 5em ; 
	background-color : #F2D500 ;
	text-align: center ;
	font-family: mosk900;
	color : white ; 
	font-size: 1.5em;
	padding-top: 1.7em
}
/************** FIN page formation: Photo avec texte *******************/
/***********************************************************************/









/***********************************************************************/
/****************** DEBUT page formation: tabeau ***********************/
.blackbg {
    background: black
}
.containerformation {
    padding-bottom: 30px;
    padding-top: 5em;
}
span {
    color: white;
}
.engrenage {
    height: 100px;
    width: 100px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
}
.forma {
    font-family: arial;
    font-size: 25px;
    text-align: left;
}
@media screen and (max-width: 992px) { 
    .forma {
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
}
.spaceline {
    margin-bottom: 100px
}
.vcenter {
    display: flex;
    align-items: center;
}
.monStyle {
    color: white;
	padding: 3em;
	margin-top: 3em;
	font-family: helvetica;
}
/****************** FIN page formation: tabeau ***********************/
/*********************************************************************/











/***********************************************************************/
/****************** DEBUT page formation: tarif ***********************/
.bandeautarif {
	display: block ; 
	background-color : #F2D500 ;
	text-align: center ;
	font-family: helvetica;
	color : white ; 
	margin-top: 3em;
	padding : 1em ;
	margin-bottom : 3em ;
}
/****************** FIN page formation: tarif ***********************/
/*********************************************************************/









/*********************************************************************/
/********************** DEBUT page contact **************************/
#map {
    width: 100%;
    height: auto;
}
iframe {
		height: 600px;
}
.bandeaujaune {
    display: block;
    background-color: rgb(242, 213, 0);
    text-align: center;
    vertical-align: center;
    width: 100%;
    height: 3em;
    font-size: 2em;
    font-family: gros titre;
    color: white;
    padding-top: 0.8em;
}
.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
}
form {
    display: block;
    margin-left: -20em;
    margin-right: 25em;
    margin-top: 3em;
}
.na {
    display: block;
    color: white;
    font-family: gros titre;
    text-align: center;
}
.btn {
	margin-bottom: -0.5em;
}
.prenom {
	margin-top: 1.5em;
}
.nom {
	margin-top: 1.5em;
}
.email {
	margin-top: -0.5em;
}
.aide {
	margin-top: -0.5em;
}
.envoyer {
	margin-top: 1em;
	margin-bottom: 2em;
}
.sujet {
	margin-top: 0em;
}

/*********************************************************************/
/********************** FIN page contact **************************/